.FieldContainerAdd {
  border-radius: 10px;
  box-shadow: 2px 2px 8px #2229;
  width: 80%;
  margin: auto;
  margin-top: 20px;
  padding: 20px;
}

.TagContainerAdd {
  border-radius: 10px;
  box-shadow: 2px 2px 8px #2229;
  width: 40%;
  margin: auto;
  margin-top: 20px;
  padding: 20px;
}

.TagContainerItem {
  padding: 5px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin: 5px;
  border-bottom: 2px solid #777;
}
