.TagPage {
  padding-top: 20px;

  .AuthorCard {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px;

    &:hover {
      background-color: #0003;
    }
    & > img {
      border-radius: 50px;
      height: 50px;
      width: 50px;
      margin-bottom: 10px;
    }
  }
}

.TagResContainer {
  padding-top: 30px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.TagBookContainer {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;

  .showAllButton {
    display: flex;
    align-items: center;
    text-align: center;
    padding: 5px;
    cursor: pointer;

    &:hover {
      background-color: #0003;
    }
  }
}

.TagBookWrapper {
  padding: 10px;
  margin: 5px;
  overflow-y: hidden;
  align-items: center;
}
