@import "./../../globals";

.Footer {
  background-color: $bgLvl1Dark;
  color: $brightTextColorDark;
  padding: 40px 40px 50px 40px;
}

.SocialIcon {
  font-size: 25px;
}

.Copyright {
  font-size: 12px;
}
