
$selectionText: black;
$hoverGray: rgba(0, 0, 0, 0.1);

$backgroundDark: #171a23;
$lowTextColorDark: #c2c2c4;
$brightTextColorDark: #ffffff;
$buttonColorDark: #51b8f7;
$bgLvl1Dark: #202531;

$backgroundLight: #fffff2;
$lowTextColorLight: #464646;
$brightTextColorLight: #1b1b1b;
$buttonColorLight: #2270a0;
$linkLight: rgb(48, 47, 47);
$bgLvl1Light: #f0f1fa; 