@import "./globals";

html {
  scroll-behavior: smooth;
  margin: 0;
  width: 100%;
}

body {
  margin: 0;
  width: 100%;
  overflow-x: hidden;
}

.App {
  text-align: center;
  padding: 0;
  background-color: $backgroundDark;

  &.light {
    background-color: $backgroundLight;
  }
}

* {
  font-family: "Inter", sans-serif;
}



h2 {
  margin-top: 10px;
}

h3 {
  margin-top: 5px;
}

h4 {
  margin-top: 3px;
}

a {
  color: white;
}

* {
  text-decoration: None;
}

.MainContainer {
  margin-top: 40px ;

  background-color: $backgroundDark;
  min-height: 100vh;
  color: $lowTextColorDark;
  width: 100%;

  &.light {
    background-color: $backgroundLight;
    & h1, h2, h3, h4 {
      color: $brightTextColorLight;
    }
  }

  & h1, h2, h3, h4 {
    color: $brightTextColorDark;
  }
}

.clickable-green {
  color: $buttonColorDark;

  &:hover {
    color: $buttonColorLight;
  }
}

.clickable-gray-box {
  &:hover {
    background-color: $hoverGray;
  }

  &.light {
    color: $linkLight;
  }
}

.Box {
  background: rgba(255, 255, 255, 0.02);
  box-shadow: 2px 1px 2px rgba(127, 133, 119, 0.1);
  padding: 15px;
  margin-bottom: 40px;
  margin: 10px;
  border-radius: 10px;

  &.light {
    background: rgba(0, 0, 0, 0.055);
    box-shadow: 2px 1px 4px rgba(88, 93, 81, 0.1);
  }
}

/* ProgressBar styles*/

#progressBarContainer {
  position: fixed;
  z-index: 10;
  background: rgba(255, 255, 255, 0.05);
  width: 100%;
  top: 40px;
  left: 0;
}

#progressBar {
  background: linear-gradient(to left, $buttonColorDark, $buttonColorDark);
  transform-origin: top left;
  transform: scale(0, 0);
  opacity: 0;
}

#progressBarContainer, #progressBar {
  height: 4px;
}

/* Change selected text color and bg*/

::-moz-selection {
  /* Code for Firefox */
  color: $selectionText;
  background: $buttonColorDark;
}

::selection {
  /* Code for other browsers */
  color: $selectionText;
  background: $buttonColorDark;
}